.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 600px;
}

.hidden {
  display: none;
}

.hove{ 
  padding: 1rem;
}
.hove:hover {
  background: rgb(83, 83, 83);
  border-radius: 1rem;
}

.butt:hover {
  box-shadow: 1px 1px blanchedalmond;
}

.logsign {
  color: red;
  background: red
}

.losgsign:hover {
  background: black;
}

.button-wrapper button {
  background-color: green;
  color: black;
  padding: 20px;
}

.error {
  color: red;
}
.drag-container {
  height: 300px;
  width: 300px;
  border: dashed rgb(206, 206, 206) 3px;
  display: inline-block;
}

.overlay {
  border-color: red;
  background-color: gray;
}

.actionContainers {
    display: flex;
    flex-direction: row;
}

.action {
    border: solid black;
    margin: 25px;
    padding: 100px;
    cursor: pointer;
}

.noAction {
  border: solid black;
  margin: 25px;
  padding: 100px;
  pointer-events: none;
}