html{
  padding: 0;
  margin: 0;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 600px;
}

.hidden {
  display: none;
}

.hove{ 
  padding: 1rem;
  
  
}
.hove:hover {
  border: 1px solid white;
  border-radius: 1rem;
  background: rgb(37, 37, 37);
  transition: 1s;
  
}

.paper{
  width: 300px;
  background-color: white;
  background-image: url('../imgs/printOut.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5rem 3rem 1rem 1rem;
  border: 1px solid black
  
  
  
}
.paper2{
  width: 500px;
  background-color: white;
  background-image: url('../imgs/printOut.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 7rem 3rem 1rem 1rem;
  border: 1px solid black;
  /* left: 800px */
  
  
}

.butty{
  display: inline-block;
  
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: #fd0606;
  border: 1px solid black;
  border-radius: 5px;
}

.logsign {
  color: red;
  
}

.losgsign:hover {

  background: black;
}

.button-wrapper button {
  background-color: green;
  color: black;
  padding: 20px;
}

.error {
  color: red;
}
.drag-container {
  height: 300px;
  width: 70vw;
  border: solid rgb(0, 0, 0) 3px;
  background: rgb(214, 214, 214);
  display: inline-block;
}

.drag-container:hover {
  background-color: rgb(182, 182, 182);;
}

.overlay {
  border-color: red;
  background-color: gray;
}

.actionContainers {
    display: flex;
    flex-direction: row;
}

.butt {
  display: inline-block;
  
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: #fd0606;
  border: none;
  border-radius: 1rem;
  
}

.action {
    border: 2px solid black;
    opacity: 1;
    box-shadow: 1px 1px 25px red;
    margin: 25px;
    padding: 50px;
    cursor: pointer;
    transition: 4s;
    color: white;
}

.noAction {
  border: 3px solid black;
  opacity: 0.5;
  margin: 25px;
  padding: 50px;
  pointer-events: none;
  color: #fd0606;
}

/* #predictions {
  object-fit: contain;
  
  
} */

.image, .table {
  width: fit-content;
}

.fit{
  width: 60vw;
  height: 150px;
  border: 3px solid black;
  border-radius: 1rem;
  background: rgb(100, 100, 100);
}

.green{
  background-color: green;
  color: white;
}




.fader2 {
  animation: fadeIn2 4000ms;
}

@keyframes fadeIn2 {
  0% {opacity: 0}
  100% {opacity: 1}
} 

.fader {
  animation: fadeIn 1000ms;
}

@keyframes fadeIn {
  0% {opacity: 0; right: -100px}
  100% {opacity: 1; right: 0px;}
} 


.spinner:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
.scroll{
  animation: scroller 4s;
}

@keyframes scroller {
  0% {opacity: 0;}
  100% {opacity: 1;}
}