.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .button-wrapper button {
    background-color: green;
    color: black;
    padding: 20px;
  }
  
  .error {
    color: red;
  }
  .drag-container {
    height: 300px;
    width: 300px;
    border: dashed rgb(206, 206, 206) 3px;
    display: inline-block;
  }
  
  .overlay {
    border-color: red;
    background-color: gray;
  }

  .actionContainers {
      display: flex;
      flex-direction: row;
  }

  .action {
      border: solid black;
      margin: 25px;
      padding: 100px;
      cursor: pointer;
  }

  .noAction {
    border: solid black;
    margin: 25px;
    padding: 100px;
    pointer-events: none;
  }